aniso8601==7.0.0
asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
Django==3.0.12
django-cors-headers==3.1.1
django-extensions==2.2.1
django-filter==2.2.0
graphene==2.1.8
graphene-django==2.6.0
graphql-core==2.2.1
graphql-relay==2.0.0
idna==2.8
numpy==1.17.4
pandas==0.25.3
plotly==4.3.0
promise==2.2.1
psycopg2==2.8.3
python-dateutil==2.8.1
pytz==2019.2
requests==2.22.0
retrying==1.3.3
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.7
xlrd==1.2.0
